{% extends 'radio/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block body %}

<div class="border border-4" style="width: 700px; margin: auto; padding:20px; background-color: white;">
    <form method="POST">
        {% csrf_token  %}
            <fieldset class="form-group">
                <legend class="border-bottom border-4">Login</legend>
                    {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-success">Login</button>
            </div>
    </form>
</div>

{% endblock %}

